{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{#post}}
{{!-- Everything inside the #post tags pulls data from the post --}}
<section>

    <header class="main content">
        <span class="date">{{date format="MMMM D, YYYY"}}</span>
        <h1>{{title}}</h1>
        {{#if custom_excerpt}}
        <p class="content">{{custom_excerpt}}</p>
        {{/if}}
    </header>

    {{#if feature_image}}
    <div class="image main"><img src="{{img_url feature_image}}" alt="{{title}}" /></div>
    {{/if}}

    <div class="content">
        {{content}}
        <p>That's it for this blog post and if you feel that you've something to add to this or you have a different perspective then share it and discuss it on <a href="https://www.reddit.com/r/StoicHuman/">r/StoicHuman</a> or go to the Reddit discussion post for this blog post linked down below.</p><p>Stay healthy, Stay safe!</p><!--kg-card-begin: html--><section class="subscribe-form" style="text-align: center; ">
        <h3 class="subscribe-form-title">Journaling is your superpower. It's Free!</h3>
    
        <form name="submit-to-google-sheet">
            <input name="email" type="email" placeholder="Email" required style="max-width:20em; margin:auto;">
            <br />
            <button type="submit">Get FREE Journaling app</button>
        </form>
    </section>




<!--kg-card-end: html--><p>Follow our weekly podcast on Spotify called "Stoic Human Podcast". Also available on other platforms like Apple Podcast, Google Podcast, Overcast, and more. Just search "Stoic Human Podcast".</p><figure class="kg-card kg-embed-card"><iframe style="border-radius: 12px" width="100%" height="152" title="Spotify Embed: Stoic Human Podcast" frameborder="0" allowfullscreen allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" src="https://open.spotify.com/embed/show/1gWwZzGiBfXs6t607tI1Y1?utm_source=oembed"></iframe></figure>
    </div>

    {{!-- Email subscribe form at the bottom of the page --}}
    {{#if @labs.subscribers}}
    <section class="subscribe-form">
        <h3 class="subscribe-form-title">Subscribe to {{@site.title}}</h3>
        <p>Get the latest posts delivered right to your inbox</p>
        {{subscribe_form placeholder="youremail@example.com"}}
    </section>
    {{/if}}

{{!-- 
    <section class="subscribe-form" style="text-align: center;">
        <h3 class="subscribe-form-title">Subscribe to our Weekly Newsletter</h3>
        <form name="submit-to-google-sheet">
            <input name="email" type="email" placeholder="Email" required>
            <br />
            <button type="submit">Subscribe</button>
        </form>
    </section> --}}


    <footer class="post-footer">

        <div class="authors">
            {{#foreach authors}}
            <a class="author-box" href="{{url}}">
                {{#if profile_image}}
                <img class="author-profile-image" src="{{profile_image}}" alt="{{name}}" />
                {{/if}}
                <section class="author-box-content">
                    <div class="author-box-label">Author</div>
                    <h5 class="author-box-name">{{name}}</h5>
                    {{#if bio}}
                    <p>{{bio}}</p>
                    {{else}}
                    <p>Read more posts by this author.</p>
                    {{/if}}
                </section>
            </a>
            {{/foreach}}
        </div>

    </footer>

    {{!--
    <section class="post-full-comments">
        If you want to embed comments, this is a good place to do it!
    </section>
    --}}

</section>
{{/post}}

<script>
    var images = document.querySelectorAll('.kg-gallery-image img');
    images.forEach(function (image) {
        var container = image.closest('.kg-gallery-image');
        var width = image.attributes.width.value;
        var height = image.attributes.height.value;
        var ratio = width / height;
        container.style.flex = ratio + ' 1 0%';
    })
</script>